// Here you can add other styles
body {
  background-color: #ececec !important;
}

.ant-avatar {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.status-icon {
  max-height: 55px;
  height: 100%;
}

.ant-pagination {
  line-height: 25px !important;
}

.ant-pagination .ant-pagination-item-container {
  line-height: 33px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}
.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  line-height: 28px !important;
}

.nationality-icon {
  height: 28px;
  border-radius: 10px;
}

.ant-typography-copy,
.ant-typography {
  display: flex !important;
  align-items: center;
}
